*{
    font-family: 'Roboto', sans-serif;
}

a{color: #704483;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}
a:hover{
    background-color: #e3dfe6;   
}
a h4:hover{
    background-color: #e3dfe6;
}
.barra{
    background-color: #f9f4f4;
    height: 100%;
    width: 200px;
    position: absolute;
    transition: all .2s linear; 
    left: -200px;
}
.bloco-desafios-gerais{
    background-color: #f9f4f4;
     margin: 10px;
     padding: 5px 5px; 
    justify-content: space-between;
}
.bloco-desafios-gerais div{
    align-items: center;
     padding: 5px 5px;
  margin-top: 10px;

}
.bloco-desafios-respondidos{
    background-color: #97979729;
     margin: 10px;
     padding: 5px 5px; 
     justify-content: space-between;
    
   
}
.bloco-desafios-respondidos div{
    align-items: center;
     padding: 5px 5px;
  margin-top: 10px;

}
.cabecalho{
   
   justify-content: space-between;
   margin-left: 40%;
   color: #704483;
   font-family: 'Oswald', sans-serif;
  
}
.cabecalho p{
    color: white;
}
.cabecalho img{
 border-radius:50%;
 width:100px; 
 height:100px;
 margin-left: 10px;}
 

#check{
    display: none;
}

#check:checked ~ .barra{
    transform: translateX(200px);
    
    }
.desafio{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1); 
}
.desafios-criados{
    background-color: #f9f4f4;
    margin: 10px;
    padding: 5px 5px; 
    justify-content: space-between;
   
}

.desafios-criados div{
    align-items: center;
     padding: 5px 5px;
  margin-top: 10px;

}

.desafio-geral{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1); 
    
    
}
.desafio-respondido{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1); 
}



.h2-desafios-gerais{
    color: #704483;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}
#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
}
label img{
    width: 30px;

}
.likes{
    color: #868282;
    font-size: 12px;
}
.link{
    background-color: #d5bfcb;
    padding: 20px;
    font-size: 12px;
    transition: all.2s linear;
    color: #f4f4f9;
    border-bottom: 2px solid #f9f4f4;
   
    
    

}
.link:hover{
background-color: #9d94a1;
}
.msg{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
  
  }
.nav-menu{width: 100%;
    position: absolute;
    top: 60px;

}
.nav-menu a {
    text-decoration: none;
}
.p-desafios-respondidos{
    text-align: center;
    color: #704483;
    display: block;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;

}

.responder{
    font-size: 13px;
}

.respostas{
    color: #868282;
}

.seus-desafios{
    text-align: center;
    color: #704483;
    display: block;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    
    
}

.titulos{
    color: #baaac1;
    font-family: 'Oswald', sans-serif;
    padding: 2px;

}

.te-desafia{
    color: #868282;
}
.tema{
    color: #6e4981;
}
.tema-valor{
    color: #868282;
}
.titulos-gerais{
    color: #baaac1;
    font-family: 'Oswald', sans-serif;
    padding: 2px;

}
.titulos-respondidos{
    color: #baaac1;
    font-family: 'Oswald', sans-serif;
    padding: 2px;

}

.responder{
    font-size: 13px;
}

@media (min-width:580px){

    .desafio{
        box-shadow:none;
    }
    .desafios-criados{
        background-color: #f9f4f4;
        margin: 10px;
        padding: 5px 5px; 
        display: flex;
        
    }
    
    .desafios-criados div{
      text-align: initial;
      padding: 5px 15px;
      margin-top: 2px;
      font-size:20px;
    
    }

}
