*{
    font-family: 'Roboto', sans-serif;
}
.cabecalho{
   align-items: center;
   justify-content: space-between;
   display: flex;
   color: #704483;
   font-family: 'Oswald', sans-serif;
  
}
#check{
    display: none;
}
.desafios-criados{
    background-color: #f9f4f4;
   /* box-shadow: 5px 5px 5px rgba(0,0,0,0.2);  */
   margin: 10px;
     padding: 5px 5px; 
    justify-items: center;
    display: flex;
    
   
}
.desafio{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1); 
}

.desafios-criados div{
    align-items: center;
     padding: 5px 5px;
  margin-top: 10px;

}
.bloco-desafios-respondidos{
    background-color: #97979729;
     margin: 10px;
     padding: 5px 5px; 
    justify-items: center;
    display: flex;
    
   
}
.p-desafios-respondidos{
    text-align: center;
    color: #704483;
    display: block;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;

}
a{color: #704483;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}
a:hover{
    background-color: #e3dfe6;   
}
a h4:hover{
    background-color: #e3dfe6;
}
.msg{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  

}
#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
}
label img{
    width: 30px;

}
.barra{
    background-color: #f9f4f4;
    height: 100%;
    width: 200px;
    position: absolute;
    transition: all .2s linear; 
    left: -200px;
}
.nav-menu{width: 100%;
    position: absolute;
    top: 60px;

}
.nav-menu a {
    text-decoration: none;
}

.link{
    background-color: #d5bfcb;
    padding: 20px;
    font-size: 12px;
    transition: all.2s linear;
    color: #f4f4f9;
    border-bottom: 2px solid #f9f4f4;
   
    
    

}
.link:hover{
background-color: #704483;
}
#check:checked ~ .barra{
transform: translateX(200px);

}

.seus-desafios{
    text-align: center;
    color: #704483;
    display: block;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    
    
}
.titulos{
    color: #baaac1;
    font-family: 'Oswald', sans-serif;
    padding: 2px;

}