{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<input type="checkbox" id="check">
<label id="icone" for="check"><img src="{% static 'images/menu.png' %}" alt=""></label>
<div class="barra">
    <nav class="nav-menu">
        <a href="desafiar/{{perfil.id}}">
            <div class="link">Desafiar</div>
        </a>
        <a href="#responder">
            <div class="link">Responder</div>
        </a>
        <a href="#seus-desafios">
            <div class="link">Seus Desafios</div>
        </a>
        <a href="">
            <div class="link">Perfis</div>
        </a>
        <a href="">
            <div class="link">Configurações</div>
        </a>
    </nav>
</div>
<div class="cabecalho">
    <img src="/media/{{ perfil.avatar }}" alt="" style="border-radius:50%; width:100px; height:100px;">
    <p></p>
    <h1>{{ perfil.nome }}</h1>
    <p></p>
    <p></p>
</div>
<div id= seus-desafios><div class="desafios-criados">
    <p>
        <div class="seus-desafios">SEUS DESAFIOS:
    </p>
</div>
<p class="msg">{{ msg }}</p>
<div>
    {% for elemento in criados %}
        <div class="desafio">

            <a href="/desafio/{{ elemento.desafio.id }}" target="_blank" rel="noopener noreferrer">
                <h4>Título: {{ elemento.desafio.titulo }}</h4>
            </a>
            <p class="titulos" style="font-size:7pt;">{{ elemento.desafio.criacao }}</p>
            <p class="tema">Tema: <p class=tema-valor>{{ elemento.desafio.tema }}</p>
            <p class="titulos">{{ elemento.desafio.valor }}</p>

            <section class="likes">

            {% if elemento.like != 'Sem likes!!' %}

                <p>
                    likes -
                    <a href="/{{ elemento.like }}" target="_blank" rel="noopener noreferrer">
                        {{ elemento.like }}
                    </a>
                    e mais {{ elemento.likes }} pessoas...
                </p>

            {% else %}

                <p>{{ elemento.like }}</p>

            {% endif %}

                <p class="respostas">{{ elemento.respostas }} - respostas</p>
                <a href="/delete/{{ perfil.id }}/{{ elemento.desafio.id }}">Excluir</a>
        </div>
    {% endfor %}
</div>
</div></div>

<div class="bloco-desafios-respondidos">
    <p>
        <div class="p-desafios-respondidos">DESAFIOS RESPONDIDOS:</div>
        <div>
            {% for elemento in respostas %}

                <div class="desafio-respondido">
                <a href="/desafio/{{ elemento.resposta.desafio.id}}" target="_blank" rel="noopener noreferrer">
                    <h4>Título:{{ elemento.resposta.desafio.titulo }}</h4>
                </a>
                <p class=titulos-respondidos style="font-size:7pt;">{{ elemento.resposta.desafio.criacao }}</p>
                <section class="likes">

                {% if elemento.like != 'Sem likes!!' %}

                    <p>
                        likes -
                        <a href="/{{ elemento.like }}" target="_blank" rel="noopener noreferrer">
                            {{ elemento.like }}
                        </a>
                        e mais {{ elemento.likes }} pessoas...
                    </p>

                {% else %}

                    <p>{{ elemento.like }}</p>

                {% endif %}

            {% endfor %}
    </p>
</div>
</div >
</div>

<div id="responder"><h2 class="h2-desafios-gerais">DESAFIOS GERAIS:</h2>
<div class="bloco-desafios-gerais">
    
        {% for item in gerais %} 
            <div class="desafio-geral">
                <h4 class="te-desafia">
                    <a href="/{{ item.desafio.autor.user }}" target="_blank"
                        rel="noopener noreferrer">{{ item.desafio.autor.user }}</a> te desafia!!
                </h4>
                <a href="/desafio/{{ item.desafio.id }}" target="_blank" rel="noopener noreferrer">
                    <h4>Título: {{ item.desafio.titulo }}</h4>
                </a>
                <p class="titulos" style="font-size:7pt;">{{ item.desafio.criacao }}</p>
                <p class="tema">Tema: <p class="tema-valor">{{ item.desafio.tema }}</p>
                <a class="responder" href="responder/{{ perfil.id }}/{{ item.desafio.id }}">Responder</a>
                <section class="likes">
                    {% if item.vc == None %}

                        <a href="/like/d/{{ perfil.id }}/{{ item.desafio.id }}">like!!</a>
                        <p>{{ item.likes }} pessoas deram like..</p>

                    {% else %}

                        <p style="font-size: 10pt;">{{ item.vc }}{{ item.likes }} pessoas deram like...</p>
                        
                    {% endif %}
                </section>
            </div>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}