{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<input type="checkbox" id="check">
<label id="icone" for="check"><img src="{% static 'images/menu.png' %}" alt=""></label>
<div class="barra">
    <nav class="nav-menu">
        <a href="desafiar/{{perfil.id}}">
            <div class="link">Desafiar</div>
        </a>
        <a href="">
            <div class="link">Responder</div>
        </a>
        <a href="">
            <div class="link">Desafio</div>
        </a>
        <a href="">
            <div class="link">Perfis</div>
        </a>
        <a href="">
            <div class="link">Configurações</div>
        </a>
    </nav>
</div>
<div class="cabecalho">
    <img src="/media/{{ perfil.avatar }}" alt="" style="border-radius:50%; width:100px; height:100px;">
    <p></p>
    <h1>{{ perfil.nome }}</h1>
    <p></p>
    <p></p>
</div>

<div class="desafios-criados">
    <p>
        <div class="seus-desafios">SEUS DESAFIOS:
    </p>
</div>
<p class="msg">{{ msg }}</p>
<div>
    {% for criado in criados %}
    <div class="desafio">

        <a href="/desafio/{{ criado.desafio.id }}" target="_blank" rel="noopener noreferrer">
            <h4>Título: {{ criado.desafio.titulo }}</h4>
        </a>
        <p class="titulos" style="font-size:7pt;">{{ criado.desafio.criacao }}</p>
        <p class="tema">Tema: <p class=tema-valor>{{ criado.desafio.tema }}</p>
        </p>
        <p class="titulos">{{ nomeado.desafio.valor }}</p>

        <section class="likes">
            {% if criado.like != 'Sem likes!!' %}
            likes -
            <a href="/{{ criado.like }}" target="_blank" rel="noopener noreferrer">
                {{ criado.like }}
            </a>
            e mais {{ criado.likes }} pessoas...
            </p>
            {% else %}
            <p>{{ criado.like }}
                {% endif %}
                <p class="respostas">
                    {{ criado.respostas }} - respostas
                </p>
                <a href="/delete/{{ perfil.id }}/{{ criado.desafio.id }}">Excluir</a>
    </div>
    {% endfor %}
</div>
</div>
<div class="bloco-desafios-respondidos">
    <p>
        <div class="p-desafios-respondidos">DESAFIOS RESPONDIDOS:</div>
        <div>
            {% for resposta in respostas %}
            <div class="desafio-respondido">
                <a href="/desafio/{{ resposta.desafio.id}}" target="_blank" rel="noopener noreferrer">
                    <h4>Título:{{ resposta.resposta.desafio.titulo }}</h4>
                </a>
                <p class=titulos-respondidos style="font-size:7pt;">{{ resposta.resposta.desafio.criacao }}</p>
                <section class="likes">
                    {% if resposta.like != 'Sem likes!!' %}
                    likes -
                    <a href="/{{ criado.like }}" target="_blank" rel="noopener noreferrer">
                        {{ resposta.like }}
                    </a>
                    e mais {{ resposta.likes }} pessoas...
    </p>
    {% else %}
    <p>{{ resposta.like }}
        {% endif %}
</div>
{% endfor %}
</div id="responder">
</div>

<h2 class="h2-desafios-gerais">DESAFIOS GERAIS:</h2>
<div class="bloco-desafios-gerais">
    
        {% for item in gerais %} 
        
            <div class="desafio-geral">
                <h4 class="te-desafia">
                    <a href="/{{ item.desafio.autor.user }}" target="_blank"
                        rel="noopener noreferrer">{{ item.desafio.autor.user }}</a> te desafia!!
                    </h3>
                    <a href="/desafio/{{ item.desafio.id }}" target="_blank" rel="noopener noreferrer">
                        <h4>Título: {{ item.desafio.titulo }}</h4>
                    </a>
                    <p class="titulos" style="font-size:7pt;">{{ item.desafio.criacao }}</p>
                    <p class="tema">Tema: <p class="tema-valor">{{ item.desafio.tema }}</p>
                    </p>

                    <a class="responder" href="responder/{{ perfil.id }}/{{ item.desafio.id }}">Responder</a>
                    <section class="likes">
                    {% if item.vc == None %}
                    <a href="/like/d/{{ perfil.id }}/{{ item.desafio.id }}">like!!</a>
                    <p>{{ item.likes }} pessoas deram like..</p>
                    {% else %}
                    <p style="font-size: 10pt;">{{ item.vc }}{{ item.likes }} pessoas deram like...</p>
                    {% endif %}</section>
            </div>
    

        {% endfor %}
    </div>
</div>

{% endblock %}