{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <aside>
        <ul>
            <li><a href="desafiar/">Criar desafio</a></li>
            <li><a href=""></a>Configurações</li>
        </ul>
    </aside>
    <img src="/media/{{ perfil.avatar }}" alt="" style="border-radius:50%; width:100px; height:100px;">
    <h1>Home - {{ perfil.user }}</h1>
    
    <p>Seus desafios criados:</p>
    <h4>{{ msg }}</h4>
    <div>
        {% for desafio in desafios %}
            <div style="border: solid 1px black; margin: 5px; width: 200px; padding: 5px;">
                <a href="/desafio/{{ desafio.id }}/{{ perfil.id }}/{{ desafio.titulo }}" target="_blank" rel="noopener noreferrer">            
                    <h4>- {{ desafio.titulo }}</h4>
                </a>
                <p>Tema: {{ desafio.tema }}</p>
                <p>{{ desafio.valor }}</p>
                <p style="font-size:7pt;">{{ desafio.criacao }}</p>
            </div>
        {% endfor %}
    </div>
    <p>Desafios respondidos:</p>
    <div>
        {% for resposta in respostas %}
            <div style="border: solid 1px black; margin: 10px; width: 200px; padding: 5px;">
                <a href="/desafio/{{ resposta.desafio.id}}/{{ perfil.id }}/{{ resposta.desafio.titulo }}" target="_blank" rel="noopener noreferrer">
                    <h4>- {{ resposta.desafio.titulo }}</h4>
                </a>
                <p style="font-size:7pt;">{{ resposta.desafio.criacao }}</p>
                <p style="font-size: 8pt;">{{ resposta.likes.perfil.user}} e mais {{ resposta.total }} pessoas deram like..</p>
            </div>
        {% endfor %}
    </div id= "responder">
    <h2>Veja os desafios de geral!!!</h2>
    <p>Desafios da comunidade:</p>
    <div style="display: flex; justify-content: center;">
        {% for desafio in gerais %}
            <div style="border: solid 1px black; margin: 5px; width: 200px; padding: 5px;">
                <h3>
                    <a href="/{{ desafio.autor.user }}" target="_blank" rel="noopener noreferrer">{{ desafio.autor.user }}</a> te desafia!!
                </h3>
                <a href="/desafio/{{ desafio.id }}/{{ perfil.id }}/{{ desafio.titulo }}" target="_blank" rel="noopener noreferrer">
                    <h4>- {{ desafio.titulo }}</h4>
                </a>
                <p>Tema: {{ desafio.tema }}</p>
                <p>{{ desafio.valor }}</p>
                <p style="font-size:7pt;">{{ desafio.criacao }}</p>
                <a href="responder/{{ desafio.id }}">Responder</a>
            </div>
        {% endfor %}
    </div>
    {% endblock %}